{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "semi": true,
    "endOfLine": "lf"
}