@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fff9e1;
  --foreground: #38332e;
  --card: #f4ecd2;
  --card-foreground: #38332e;
  --popover: #ffffff;
  --popover-foreground: #38332e;
  --primary: #607035;
  --primary-foreground: #fafafa;
  --secondary: #de802b;
  --secondary-foreground: #0b2508;
  --muted: #f5f2f0;
  --muted-foreground: #70665c;
  --accent: #cbec71;
  --accent-foreground: #38332e;
  --destructive: #eb4747;
  --destructive-foreground: #fafafa;
  --border: #ded9d3;
  --input: #e9e6e2;
  --ring: #df5020;
  --chart-1: #df5020;
  --chart-2: #b8b814;
  --chart-3: #4db34d;
  --chart-4: #6666cc;
  --chart-5: #e085e0;
  --sidebar: #f6f2ee;
  --sidebar-foreground: #464039;
  --sidebar-primary: #e26136;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #e7e0da;
  --sidebar-accent-foreground: #38332e;
  --sidebar-border: #d4ccc4;
  --sidebar-ring: #e26136;
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 1rem;
  --shadow-spread: -0.2rem;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(30 10% 20%);
  --shadow-2xs: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.03);
  --shadow-xs: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.03);
  --shadow-sm: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.05), 0rem 1px 2px -1.2px hsl(30 10% 20% / 0.05);
  --shadow: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.05), 0rem 1px 2px -1.2px hsl(30 10% 20% / 0.05);
  --shadow-md: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.05), 0rem 2px 4px -1.2px hsl(30 10% 20% / 0.05);
  --shadow-lg: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.05), 0rem 4px 6px -1.2px hsl(30 10% 20% / 0.05);
  --shadow-xl: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.05), 0rem 8px 10px -1.2px hsl(30 10% 20% / 0.05);
  --shadow-2xl: 0rem 0.5rem 1rem -0.2rem hsl(30 10% 20% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layers utilities {
  .animate-loader {
    animation: spin 2s linear infinite, scale-up-and-down 2s ease-in-out infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale-up-and-down {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}